<!--
  P22 Radiola

  v1.1.4b (Simfonija)
  paulsnar <paulsnar@paulsnar.lv>
  © 2016-2017 paulsnar. All Rights Reserved.
-->
<div>
  <h1 class="text-center">
    <!-- <span>&#x1F3B5;&#xFE0E;</span> -->
    <span>&#x266B;</span>
    P22 Radiola
  </h1>
  <div class="callout alert" v-if="this.outsideDataState === 'ERROR'">
    <span class="glyphicon glyphicon-alert"></span>
    <strong>Ielāde neizdevās!</strong>
    Mēģiniet atsvaidzināt lapu.
  </div>
  <div class="callout primary" v-if="this.outsideDataState === 'WAITING'">
    <span class="inline-loading"></span>
    Joprojām notiek ielāde...
  </div>
  <div v-if="this.outsideDataState === 'LOADED'">
    <div class="callout" v-if="this.playingState !== 'STOPPED'"
        :class="{ warning: this.buffering_error }">
      <div class="row align-middle">
        <div class="columns">
          <span v-if="this.playingState === 'ERROR'">
            <span style="font-weight: bold">Neizdevās atskaņot:</span>
            {{ this.current_station }}
          </span>
          <span v-if="this.playingState !== 'ERROR'">
            <span class="inline-loading"
              v-if="this.playingState === 'BUFFERING' || this.playingState === 'STALLED'">
            </span>
            <span v-else>&#x25B6;<!-- BLACK RIGHT-POINTING TRIANGLE --></span>
            <span class="show-for-medium"
              :style="{ fontWeight: (this.current_song || this.current_program) ? 'bold' : 'inherit' }">
              <span v-if="this.playingState === 'BUFFERING'">
                {{ this.choice(['Tūliņ', 'Tūdaļ', 'Tūlīt']) }} skanēs:
              </span>
              <span v-else>Tagad skan:</span>
            </span>
            <span v-if="this.current_song">
              {{ this.current_song }}
            </span>
            <span v-if="this.current_song &amp;&amp; this.current_program"
              style="font-weight: bold">
              ::
            </span>
            <span v-if="this.current_program">
              {{ this.current_program }}
            </span>
            <span v-if="!this.current_song &amp;&amp; !this.current_program"
                style="font-weight: bold">
              {{ this.current_station }}
            </span>
          </span>
        </div>
        <div class="shrink columns" style="font-weight: bold" v-if="this.current_song || this.current_program">
          {{ this.current_station }}
        </div>
        <div class="shrink columns">
          <button class="button expanded" v-on:click="stop"
              style="margin-bottom: 0;">
            <span>&#x25FC;<!-- BLACK MEDIUM SQUARE --></span>
            <span class="show-for-medium">Apturēt</span>
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-4 medium-3 large-2 columns" v-for="station in stations">
        <pr-station
          :station="station"
          v-on:clicked="changeActiveStation(station.id)"></pr-station>
      </div>
    </div>
  </div>
  <hr />
  <footer>
    <p>
      <small>
        <span v-on:click="showDebugInfo()">v1.1.4b</span>
        &middot;
        <a href="about.txt">Par</a> &middot; © 2016-2017 P22 Corp.
      </small>
    </p>
  </footer>
</div>
<!-- vim: set ts=2 sts=2 et sw=2 : -->
